<h1>Doctor Index</h1>
<h3><em>List of all the Doctors</h3></em><p>

<ul>
<% @doctors.each do |doctor| %>
  <li>  
    <strong>Doctor Id:</strong> <%= doctor.id %><br />
    <strong>First Name:</strong> <%= doctor.fname %><br />
    <strong>Last Name:</strong> <%= doctor.lname %><br />
    <strong>Specialty:</strong> <%= doctor.specialty %></br />
  </li>
  <hr />
<% end %>
</ul>